*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #24252A;
}

a,button{
    font-family: "Montserrat", sans-serif;
    font-weight:500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
}

.nav_noreq{
    list-style: none;
}

.nav_noreq li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_noreq li a {
    transition: all 0.3s ease 0s;
}

.nav_noreq li a:hover {
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

.logo{
    width: 5rem;
    height: 5rem;
}

.cta{

}